<div class="container">
  <div class="user" *ngFor="let user of users.data">
    <p>{{ user.first_name }} {{ user.last_name }}</p>
    <p>{{ user.email }}</p>
    <img src="{{ user.avatar }}" alt="foto do usuário" />
    <p></p>
  <br />
    <button (click)="openDialogDetails(ref.id)" id="{{ user.id }}" #ref>
      Ver detalhes
    </button>
  </div>
</div>
<div class="page-change">
  <button mat-stroked-button (click)="changePage(ref1.id)">
    <i id="1" #ref1>
      1
    </i>
  </button>
  <button mat-stroked-button (click)="changePage(ref2.id)">
    <i id="2" #ref2>
      2
    </i>
  </button>
</div>
