.resource-color {
  width:20px;
  height:20px;
  float: right;
}

.container {
  text-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > div {
  width: 250px;
  margin: 0 1rem 2rem 1rem;
  text-align: center;
  border: 2px rgb(221, 221, 221) outset;
}
